.custom-button {
  display: flex;
  min-width: 17rem;
  width: auto;
  height: 5rem;
  letter-spacing: 0.5px;
  line-height: 5rem;
  padding: 0 25px 0 25px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 5rem;
  }

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 0 1rem 2rem rbga(black, 0.1);
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }
}
