.group {
  & {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    color: inherit;
    background-color: rbga(white, 0.5);
    border: none;
    border-bottom: 3px solid tranparent;
    width: 45rem;
    display: block;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
      border-bottom: 3px solid green;
    }

    &:focus:invalid {
      border-bottom: 3px solid rgb(255, 72, 0);
    }

    &::-webkit-input-placeholder {
      color: #999;
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown ~ &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}
